@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  background-color: black;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: white;
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.title h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

.title p {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-top: 8px;
}

.title {
  margin: 24px;
}

.main-container {
  margin: 0 auto;
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.contact {
  display: flex;
  font-size: 48px;
  margin-left: 24px;
  /*margin-top: 32px;*/
}


.contact a {
  margin-right: 16px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.contact a:hover {
  color: rgba(200,200,200, 1);
}

.main-image {
  opacity: 0;
  background-size: cover;
  background-position: 25% 50%;
  position: absolute;
  right: 0px;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transition: 1s opacity;
}

.active {
  transition: 3s opacity;
  opacity: 1;
}

.arrow-down {
  position: absolute;
  bottom: 24px;
  text-align: center;
  font-size: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down a {
  color: white;
}

.eyelash-border {
  position: absolute;
  width: 100%;
  min-width: 800px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg);
}

.second-part {
  background-color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 900px ) {
  .main-container {
    width: 600px;
  }
}

@media (max-width: 700px ) {
  .main-container {
    width: 400px;
  }
  .main-image {
    background-image: linear-gradient(to left, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("main-img.jpg");
    background-position: 18% 50%;
  }
  .title {
    text-shadow: 4px 4px 4px rgba(200,200,200, 0.1);
  }
}
