@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  background-color: rgb(10,10,10);
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: rgb(250,250,250);
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.title h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

.title p {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-top: 8px;
}

.title {
  margin-bottom: 24px;
}

.main-container {
  margin: 0 auto;
  width: 80vw;
}

.banner {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.contact {
  display: flex;
  font-size: 48px;
  /*margin-top: 32px;*/
}


.contact a {
  margin-right: 16px;
  text-decoration: none;
  color: rgb(250,250,250);
  transition: color 0.3s;
}

.contact a:hover {
  color: rgba(200,200,200, 1);
}

.main-image {
  opacity: 0;
  background-size: cover;
  background-position: 25% 50%;
  position: absolute;
  right: 0px;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transition: 1s opacity;
}

.active {
  transition: 3s opacity;
  opacity: 1;
}

.arrow-down {
  position: absolute;
  bottom: 24px;
  text-align: center;
  font-size: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down a {
  color: rgb(250,250,250);
}

.second-part {
  background-color: rgb(250,250,250);
  color: rgb(10,10,10);
  margin: 0;
  width: 100%;
  position: relative;
  font-style: italic;
}

.second-part .description {
  padding: 48px 0;
}
.second-part h2 {
  font-size: 32px;
}
.second-part p {
  line-height: 1.8em;
  font-size: 20px;
  margin: 0;
  margin-bottom: 24px;
}

.second-part .description p {
  width: 50%;
}

.second-part .experience {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 24px;
}

.img-grid a {
  text-align: center;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding: 4px;
}
.img-grid img {
  width: 120px;
}

.third-part {
  height: 100vh;
  background-color: rgb(10,10,10);
  color: rgb(250,250,250);
  margin: 0;
  width: 100%;
  position: relative;
  font-style: italic;
}

@media (max-width: 900px ) {
  .main-container {
    width: 600px;
  }
}

@media (max-width: 700px ) {
  .main-container {
    width: 300px;
  }
  .main-image {
    background-image: linear-gradient(to left, rgba(10,10,10,0.1), rgba(10,10,10,1)), url("main-img.jpg");
    background-position: 18% 50%;
  }
  .title {
    text-shadow: 4px 4px 4px rgba(200,200,200, 0.1);
  }

  .second-part .experience {
    align-items: center;
  }

  .second-part p {
    font-size: 18px;
    width: 100%;
  }

  .second-part .description p {
    width: 100%;
  }

  .img-grid img {
    width: 100%;
  }
}
