
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('components/utils.css');
@import url('components/card.css');
@import url('components/banner.css');
@import url('components/profile.css');
@import url('components/menu.css');
@import url('components/insta.css');
@import url('components/container.css');
@import url('components/footer.css');
@import url('components/teaser.css');

:root {
  --brown: #0F0907;
}

body {
  /*background: -webkit-linear-gradient(left, rgba(163,84,52,0.7), rgba(117,159,174,0.6) 33%), url('../images/IMG_3719.JPG' );
  background: -o-linear-gradient(left, rgba(163,84,52,0.7), rgba(117,159,174,0.6) 33%), url('../images/IMG_3719.JPG' );
  background: linear-gradient(to right, rgba(163,84,52,0.7), rgba(117,159,174,0.6) 33%), url('../images/IMG_3719.JPG' );
  */
  background: black;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: var(--brown);
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  /*background-blend-mode: lighten;*/
  background-position: 50% 30%;
  background-size: cover;
}

@media (max-width: 700px ) {
  body {
    /*background: linear-gradient(90deg, rgba(163,84,52,1) 0%, rgba(117,159,174,1) 66%), url('../images/test/a.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 30%;*/
  }
}
