@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --brown: #0F0907;
}

body {
  background: linear-gradient(90deg, rgba(163,84,52,1), rgba(117,159,174,1) 33%), url(../images/main-img1.jpg);
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: var(--brown);
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-blend-mode: lighten;
  background-position: -0% 0%;
  background-size: cover;
}

.title h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

.title p {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  margin-top: 8px;
}

.title {
  margin-bottom: 24px;
}

.main-container {
  margin: 0 auto;
  width: 80vw;
}

.banner {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.contact {
  display: flex;
  font-size: 48px;
  /*margin-top: 32px;*/
}


.contact a {
  margin-right: 16px;
  text-decoration: none;
  color: var(--brown);
  transition: color 0.3s;
}

.contact a:hover {
  color: rgba(200,200,200, 1);
}

.main-image {
  opacity: 0;
  background-size: cover;
  background-position: 25% 50%;
  position: absolute;
  right: 0px;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  transition: 1s opacity;
}

.active {
  transition: 3s opacity;
  opacity: 1;
}

.arrow-down {
  position: absolute;
  bottom: 24px;
  text-align: center;
  font-size: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down a {
  color: var(--brown);
}

.second-part {
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: rgb(250,250,250);
  color: rgb(10,10,10);
  margin: 0;
  width: 100%;
  position: relative;
  font-style: italic;
}

.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 24px 0;
  grid-gap: 48px;
}

.resume .description {
  grid-column: 1 / span 2;
}

.second-part {
  padding: 32px 0;
}

.second-part h2 {
  font-size: 24px;
}

.second-part p {
  line-height: 1.8em;
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
}

.second-part .img-satsuki {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.second-part .img-lashes {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: rotateY(0deg);
}

.second-part .experience {
  grid-column: 2 / span 2;
}

.img-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-grid img {
  height: 48px;
}

.third-part {
  height: 100vh;
  background-color: rgb(10,10,10);
  color: rgb(250,250,250);
  margin: 0;
  width: 100%;
  position: relative;
  font-style: italic;
}

@media (max-width: 900px ) {
  .main-container {
    width: 624px;
  }
}

@media (max-width: 700px ) {
  body {
    background: linear-gradient(90deg, rgba(163,84,52,1) 0%, rgba(117,159,174,1) 66%), url(../images/main-img1.jpg);
    background-position: 44% 18%;
  }

  .main-container {
    width: 300px;
  }
  .main-image {
    background-position: 18% 50%;
    width: 300px;
  }
  .title {
    text-shadow: 4px 4px 4px rgba(200,200,200, 0.1);
  }

  .resume {
    grid-template-columns: 1fr;
  }

  .resume .description {
    grid-column: 1;
  }

  .resume .experience {
    grid-column: 1;
  }

  .second-part .img-satsuki {
    height: auto;
  }

  .second-part .img-lashes {
    display: none;
  }

  .second-part .experience {
    align-items: center;
  }

  .second-part p {
    font-size: 16px;
    width: 100%;
  }

  .second-part .description p {
    width: 100%;
  }

  .img-grid {
    flex-direction: column;
  }

  .img-grid img {
    height: 40px;
    margin-bottom: 24px;
  }
}
