@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('components/utils.css');
@import url('components/card.css');
@import url('components/banner.css');
@import url('components/profile.css');

:root {
  --brown: #0F0907;
}

body {
  background: linear-gradient(90deg, rgba(163,84,52,1), rgba(117,159,174,1) 33%), url('../images/main-img1.jpg' );
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: var(--brown);
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-blend-mode: lighten;
  background-position: -0% 0%;
  background-size: cover;
}

.main-container {
  margin: 0 auto;
  width: 80vw;
}

.third-part {
  padding: 64px 0;
  background: linear-gradient(90deg, rgba(163,84,52,1), rgba(117,159,174,1) 33%), url('../images/main-img4.png' );
  background-blend-mode: lighten;
  background-size: cover;
  background-position: 50% 50%;
  color: rgb(40,40,40);
  margin: 0;
  width: 100%;
  font-style: italic;
}

.third-part h2 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
}

.third-part h3 {
  font-size: 20px;
}

.third-part ul {
  list-style: none;
  padding-left: 8px;
}

.third-part li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.third-part li p {
  margin: 0;
}

.fourth-part {
  background-color: rgb(250,250,250);
  color: rgb(40,40,40);
  margin: 0;
  width: 100%;
  font-style: italic;
  padding: 32px 0;
}

.fourth-part h2 {
  font-size: 32px;
}



@media (max-width: 1000px ) {
  .main-container {
    width: 750px;
  }
}

@media (max-width: 800px ) {
  .main-container {
    width: 650px;
  }
}

@media (max-width: 700px ) {
  body {
    background: linear-gradient(90deg, rgba(163,84,52,1) 0%, rgba(117,159,174,1) 66%), url('../images/main-img1.jpg');
    background-position: 33% 37%;
    background-repeat: no-repeat;
  }

  .main-container {
    width: 300px;
  }
}
