.banner {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.banner-title h1 {
  font-size: 96px;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  text-shadow: 0 0 16px rgba(240,240,240, 0.3);
}

.banner-title p {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  margin-top: 8px;
  text-shadow: 0 0 16px rgba(240,240,240, 0.3);
}

.banner-title {
  margin-bottom: 24px;
}

.banner-contact {
  display: flex;
  font-size: 64px;
}


.banner-contact a {
  margin-right: 24px;
  text-decoration: none;
  color: var(--brown);
  transition: color 0.3s;
}

.banner-contact a:hover {
  transition: 0.3s;
  text-shadow: 0 0 16px rgba(240,240,240, 0.5);
}

.banner-arrow-down {
  position: absolute;
  bottom: 24px;
  text-align: center;
  font-size: 64px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-arrow-down a {
  color: var(--brown);
}

@media (max-width: 1000px ) {
  .main-container {
    width: 750px;
  }

  .title h1 {
    font-size: 64px;
  }

  .title p {
    font-size: 32px;
  }

  .contact {
    font-size: 48px;
  }

  .second-part h2 {
    font-size: 32px;
  }

  .second-part p {
    line-height: 1.2em;
    font-size: 20px;
    margin: 0;
    margin-bottom: 16px;
  }

  .img-grid img {
    height: 32px;
  }
}

@media (max-width: 1000px ) {
  .banner-title h1 {
    font-size: 64px;
  }

  .banner-title p {
    font-size: 32px;
  }

  .banner-contact {
    font-size: 48px;
  }
}

@media (max-width: 700px ) {
  .banner-title {
    text-shadow: 4px 4px 4px rgba(200,200,200, 0.1);
  }
}
