.main-container {
  margin: 0 auto;
  width: 80vw;
}

@media (max-width: 1000px ) {
  .main-container {
    width: 750px;
  }
}

@media (max-width: 800px ) {
  .main-container {
    width: 650px;
  }
}

@media (max-width: 700px ) {
  .main-container {
    width: 300px;
  }
}
