.footer {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, rgba(163,84,52,1), rgba(117,159,174,1) 33%);
  background: -o-linear-gradient(left, rgba(163,84,52,1), rgba(117,159,174,1) 33%);
  background: linear-gradient(to right, rgba(163,84,52,1), rgba(117,159,174,1) 33%);
}

.footer p:first-child {
  margin-right: 16px;
}

.footer a {
  color: rgba(163,84,52,1);
}

@media (max-width: 700px ) {
  .footer p {
    font-size: 12px;
  }
}
